:root {
    --dark: #003747;
    --light: #06768d;
    --contrast: #800000;
    --text: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Nastaliq Urdu', serif;
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    background-color: var(--dark);
    color: var(--text);
}

.header {
    grid-row: 1;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.hero {
    grid-row: 2;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    position: relative;
    transition-duration: 1s;
}

.frame:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#hero-slider {
    height: 300px;
    width: 300px;
    position: relative;
}

#hero-slider img {
    height: 300px;
    width: 300px;
    position: absolute;
    display: none;
    background-color: var(--dark);
}

#hero-slider img.selected {
    display: block;
}

.tri {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 80px 80px 80px;
    border-color: transparent transparent var(--text) transparent;
    position: absolute;
    z-index: 2;
}

.tri.tr {
    right: -60px;
    top: -20px;
    transform: rotate(45deg);
}

.tri.tl {
    left: -60px;
    top: -20px;
    transform: rotate(-45deg);
}

.tri.bl {
    left: -60px;
    bottom: -20px;
    transform: rotate(-135deg);
}

.tri.br {
    right: -60px;
    bottom: -20px;
    transform: rotate(135deg);
}

#slider-prev,
#slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid var(--text);
    background-color: var(--contrast);
}

#slider-prev {
    left: -20px;
}

#slider-next {
    right: -20px;
}
